    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
   .audio-container-center { display: flex;justify-content: center;}
footer {
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
body {
  margin: 0;
  height: 100vh;

  background-image: url("https://raw.githubusercontent.com/aDeerablefawn/aDeerablewebsite/main/images/forestsite.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
}
